Simulador_V1.zip
Simulador_V2.zip
Simulador_V3.2.zip
Simulador_V4.zip
Simulador_V5.zip
Simulador_V6.2.zip
Simulador_V7.zip
Simulador_V8.zip
Simulador_V9.zip
Simulador_V10.zip
__pycache__
venv
pygame_utils
Simulación_y_Ciencias.txt
simulacion_pygame